@using Abp.Application.Services.Dto
@using myvetjob.Jobs
@using myvetjob.Web.Startup
@model PagedResultDto<JobDto>

@{
    ViewBag.Title = L("Jobs");
    ViewBag.CurrentPageName = PageNames.Jobs;
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="container text-center py-5">
                <h2 class="display-4 font-weight-bold text-dark">
                    <span class="d-block">Job Board</span>
                    <span class="text-info"> for proud veterans looking to transition </span>
                </h2>
                <p class="lead text-muted mt-3">
                    A job board where companies provide opportunities to our Veteran Heroes
                </p>
                <div class="mt-4">
                    <a href="/post-a-job" class="btn btn-dark mr-3">Post a job</a>
                    <a href="#browse" class="btn btn-outline-dark">Browse jobs</a>
                </div>
                <div class="container text-center py-5">
                    <h5 class="text-muted small">trusted by members of our military</h5>
                    <div class="d-flex align-items-center justify-content-center flex-wrap">
                        <img class="img-fluid rounded" src="~/img/logo.png" style="width: 120px; height: 120px;" alt="Military Formation">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        @foreach (var job in Model.Items)
                        {
                            <div class="card shadow">
                                <div class="card-body d-flex p-4 bg-light">
                                    <div class="pr-4">
                                        <img class="img-fluid" alt="" src="@job.ApplyUrl">
                                    </div>
                                    <div>
                                        <h4 class="h5">
                                            <div class="text-dark">
                                                <a rel="noopener noreferrer" class="font-weight-bold text-decoration-none text-dark" id="@job.Id" href="/job-board/@job.Id">@job.Position</a>
                                            </div>
                                        </h4>
                                        <div class="text-muted">@job.CompanyName</div>
                                        <div class="d-flex flex-wrap pt-2 text-muted small">
                                            <span class="p-1 mr-4"><i class="bi bi-geo-fill"></i> @job.JobLocation</span>
                                            <span class="p-1 mr-4"><i class="bi bi-cash-stack"></i> @job.MinSalary - @job.MaxSalary</span>
                                            <span class="p-1 mr-4"><i class="bi bi-clock-fill"></i> Apply by @job.ExpireDate.ToString("MMM dd yyyy")</span>
                                        </div>
                                        <div class="d-flex flex-wrap pt-2 text-muted">
                                            <span class="p-1 mr-4 text-sm leading-4"><i class="bi bi-person-fill"></i> @job.EmploymentType.ToString() </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>