@using Abp.Application.Services.Dto
@using myvetjob.Jobs
@using myvetjob.Web.Startup
@using System.Globalization
@model JobDto

@{
    ViewBag.Title = L("JobDetails");
    ViewBag.CurrentPageName = PageNames.JobDetails;
}

<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h2>@Model.Position</h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <h5>@L("JobDetails")</h5>
                    <p><strong>@L("JobId"):</strong> @(Model.Id == 0 ? Model.ExternalId : Model.Id)</p>
                    <p><strong>@L("Description"):</strong> @Model.Description</p>
                    <p><strong>@L("Location"):</strong> @Model.JobLocation</p>
                </div>
                <div class="col-md-6">
                    <h5>@L("AdditionalInfo")</h5>
                    <p><strong>@L("Company"):</strong> @Model.CompanyName</p>
                    <p><strong>@L("PostedDate"):</strong> @Model.CreationTime.ToString("d", CultureInfo.CurrentCulture)</p>
                    <p><strong>@L("Salary"):</strong> @Model.MinSalary.ToString("C", CultureInfo.CreateSpecificCulture("en-US")) - @Model.MaxSalary.ToString("C", CultureInfo.CreateSpecificCulture("en-US"))</p>
                </div>
            </div>
        </div>
    </div>
</div>